<style type="text/css" media="screen">
/*
.nodes-image {
	margin:-100;
}
*/	
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.imageblock .content img, .image img {max-width: 900px;max-height: 300px;}
.deck h3, .deck h4 {display: block !important;margin-bottom:8px;margin-top:5px;}
.listingblock {margin:8px;}
.pull-bottom {position:relative;bottom:1em;}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.admonitionblock.note.speaker { display:none; }
</style>
<style type="text/css" media="screen">
/* #editor.maximize-editor .CodeMirror-code { font-size:24px; line-height:26px; } */
</style>
<article class="guide" ng-controller="AdLibDataController">
  <carousel class="deck container-fluid">
    <!--slide class="row-fluid">
      <div class="col-sm-3">
        <h3>Keeping up architecture with Neo4j graph database</h3>
        <p class="lead">Information</p>
			<!dl>
				
				
				
				
				
			</dl>
		</div>
      <div class="col-sm-9">
        <figure>
          <img style="width:300px" src=""/>
        </figure>
      </div>
    </slide-->
    


   <h4>Keeping up architecture with Neo4j graph database</h4>
   


<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Keeping up architecture with Neo4j graph database</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>In deze gist wordt stap voor stap aangegeven hoe een Archi model in neo4J opgeslagen kan worden en hoe dit model bevraagd kan worden om inzicht in de architectuur te krijgen.</p>
</div>
<table class="table tableblock frame-all grid-all" style="width: 100%;">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="imageblock">
<div class="content">
<img src="http://localhost:8001/html/image/archi.png" alt="archi">
</div>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="imageblock">
<div class="content">
<img src="http://localhost:8001/html/image/neo4j.png" alt="Neo4j">
</div>
</div></div></td>
</tr>
</tbody>
</table>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Model</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>het archisurance model komt vanuit <a href="https://github.com/archimatetool/ArchiModels/tree/master/Archisurance" class="bare">https://github.com/archimatetool/ArchiModels/tree/master/Archisurance</a>
het bevat een model van een verzekeringsmaatschappij met</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Business layer</p>
</li>
<li>
<p>Application layer</p>
</li>
<li>
<p>Technology layer</p>
</li>
<li>
<p>Motivation Layer</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Vanuit dit model kan een export gemaakt worden naar csv files die terug te vinden zijn onder ./html/csv</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Aanmaken Neo4J database</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Toevoegen plugin apoc en eventueel herstarten</p>
</div>
<div class="paragraph">
<p>Schonen database</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (n)
DETACH DELETE n<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Tonen inhoud. Deze stap kan na elke update actie uitgevoerd worden om de resultaten te bekijken</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH(n) return *<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Importeren model</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>het model uit Archimate is opgeslagen in 3 files</p>
</div>
<div class="ulist">
<ul>
<li>
<p>elements.csv</p>
</li>
<li>
<p>relations.csv</p>
</li>
<li>
<p>properties.csv</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>alleen de eerste 2 worden nu geladen.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->LOAD CSV WITH HEADERS FROM 'http://localhost:8001/html/csv/elements.csv' AS line
CREATE (:elements {class:line.Type, name:line.Name, documentation:line.Documentation,id:line.ID })<!--/code--></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->LOAD CSV WITH HEADERS FROM 'http://localhost:8001/html/csv/relations.csv' AS line
MERGE (n {id:line.Source})
MERGE (m {id:line.Target})
WITH n,m,line
CALL apoc.create.relationship(n,line.Type,{id:line.ID, class:line.Type, documentation:line.Documentation, name:line.Type},m)
YIELD rel
RETURN rel<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Toevoegen van labels</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>De property class van de elements bevat het type. Dit type kan ook een label worden voor Neo4J</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (n:elements)
CALL apoc.create.addLabels(n, [ n.class ])
YIELD node
RETURN node<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Als er labels zijn voor de elementen kunnen er ook labels gemaakt worden voor de layers die in archi gebruikt worden</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (n:elements)
WHERE n:Resource OR n:n:Capability OR n:CourseOfAction
CALL apoc.create.addLabels(n, [ "StrategyLayer" ])
YIELD node
RETURN node<!--/code--></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (n:elements)
WHERE n:BusinessActor OR n:BusinessRole OR n:BusinessCollaboration
    OR n:BusinessInterface OR n:BusinessProcess OR n:BusinessFunction
	OR n:BusinessInteraction OR n:BusinessEvent OR n:BusinessService
	OR n:BusinessObject OR n:Contract OR n:Representation
	OR n:Product
CALL apoc.create.addLabels(n, [ "BusinessLayer" ])
YIELD node
RETURN node<!--/code--></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (n:elements)
WHERE n:ApplicationComponent OR n:n:ApplicationCollaboration OR n:ApplicationInterface
    OR n:ApplicationFunction OR n:ApplicationInteraction OR n:ApplicationProcess
	OR n:ApplicationEvent OR n:ApplicationService OR n:DataObject
CALL apoc.create.addLabels(n, [ "ApplicationLayer" ])
YIELD node
RETURN node<!--/code--></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (n:elements)
WHERE n:Node OR n:Device OR n:SystemSoftware OR n:TechnologyCollaboration OR n:TechnologyInterface
    OR n:Path OR n:CommunicationNetwork OR n:TechnologyFunction OR n:TechnologyProcess OR n:TechnologyInteraction
    OR n:TechnologyEvent OR n:TechnologyService OR n:Artifact OR n:Equipment OR n:Facility OR n:DistributionNetwork
	OR n:Material
CALL apoc.create.addLabels(n, [ "TechnologyLayer" ])
YIELD node
RETURN node<!--/code--></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (n:elements)
WHERE n:Stakeholder OR n:Driver OR n:Assesment OR n:Goal OR n:Outcome
    OR n:Principle OR n:Requirement OR n:Constraint
	OR n:Meaning OR n:Value
CALL apoc.create.addLabels(n, [ "Motivation" ])
YIELD node
RETURN node<!--/code--></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (n:elements)
WHERE n:WorkPackage OR n:Deliverable OR n:ImplementationEvent OR n:Plateau OR n:Gap
CALL apoc.create.addLabels(n, [ "Implementation" ])
YIELD node
RETURN node<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Onderzoeken model</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Nu het model geladen is en de labels aangemaakt zijn kan Neo4j gebruikt worden om het model te onderzoeken.</p>
</div>
<div class="paragraph">
<p>De technical layer:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="http://localhost:8001/html/image/technical_infrastructure.jpg" alt="technical layer">
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>zoeken naar elementen en hun relaties</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>De elementen met naam Firewall en hun relaties:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH(elements{name:'Firewall'})-[r]-&gt;(c)
RETURN *<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Zoek tot 3 niveaus diep</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH(elements{name:'Firewall'})-[r*1..3]-&gt;(c)
RETURN *<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>zoeken naar paden</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Zoek de relatie tussen de Technology service "Customer File Service" en de Motivation "Be Insured"</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH(cust:TechnologyLayer {name:'Customer File Service'})
     ,(m:Motivation {name:'Be Insured'})
	 ,p=shortestPath((cust)-[*]-(m))
RETURN p<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Zoek de relatie tussen het Communication network "LAN" en de Motivation "Be Insured"</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH(cust:CommunicationNetwork {name:'LAN'})
     ,(m:Motivation {name:'Be Insured'})
	 ,p=shortestPath((cust)-[*]-(m))
RETURN p<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>zoeken naar nodes</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Zoeken naar het belang van een node in een graph</p>
</div>
<div class="paragraph">
<p>Hierbij wordt gekeken naar de node waar
hierbij kijken alle elementen (eerste null) en alle relations (tweede null)
resultaat is een id van de node en een indicatie hoe centraal deze node in de graph ligt.
met de daarop volgende match wordt het element zelf opgehaald en wordt daarvan de naam teruggegeven</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL algo.betweenness.stream(null,null,{direction:'out'})
YIELD nodeId, centrality
match(e:elements) where id(e)=nodeId
return e.name, centrality
order by centrality desc<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Zoals het hoort bij een goede verzekering, de customer staat hier centraal</p>
</div>
<div class="paragraph">
<p>De algo library bevat veel functies voor het analyseren van graph databases.</p>
</div>
	</div>
  </div>
</slide>
  </carousel>
</article>